body {
    background-image: url(images/hackncmockup_bg_1.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: mainFont;
    src: url(Bauhaus\ 93\ Regular.ttf);
    color: #fff;
}

h2 {
    color: #fff;
    padding: 0px;
    margin: 10px;
}

p {
    font-size: 18px;
    color: #fff;
}

.Header {
    font-family: mainFont;
    font-size: 30px;
    text-align: center;
}

#window {
    position: relative;
    text-align: center;
}

#timer-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: #fff;
    font-family: mainFont;
}

#window img {
    width: 25vw;
    display: flex;
    margin: 10vh auto 0px;
}

.buttons-div {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    align-self: center;
    height: fit-content;
    width: fit-content;
}

.buttons-div button {
    display: inline-block;
    width: 20vw;
    height: 30px;
}

#start-btn {
    background-image: url(images/start_button.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#pause-btn {
    background-image: url(images/pause_button.png);
}

#end-btn {
    background-image: url(images/end_button.png);
}

ul {
    margin: 0;
    padding: 0;
}

#theTask {
    display: flex;
    margin: 20px auto;
    justify-self: center;
    align-self: center;
    width: 400px;
    cursor: pointer;
    position: relative;
    padding: 12px 15px 14px 12px;
    background: #87899c;
    border-radius: 10px;
    font-size: 20px;
    font-family: mainFont;
    color: white;

    /* Make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 10px;
}

#theTask li {
    display: flex;
    margin: auto;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    padding-left: 10px;
}

#theTask li:nth-child(odd) {
    background: #555564;
}

.addBtn {
    color: white;
    font-size: 20px;
    background-color: #87899c;
    border-radius: 5px;
    padding: 5px;
}

#myInput {
    height: 30px;
    border-radius: 5px;
}