body {
    background-image: url(images/hackncmockup_background_1.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: mainFont;
    src: url(Bauhaus\ 93\ Regular.ttf);
}

.Header {
    font-family: mainFont;
    font-size: 20px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

#theTask {
    display: flex;
    margin: auto;
    justify-self: center;
    align-self: center;
    width: 70vw;
    cursor: pointer;
    position: relative;
    padding: 12px 15px 14px 12px;
    background: #87899c;
    font-size: 20px;
    font-family: mainFont;
    color: white;

    /* Make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#theTask li {
    display: flex;
    margin: auto;
    align-self: center;
    justify-self: center;
}

#theTask li:nth-child(odd) {
    background: #555564;
}
